apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cognitiveai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 914181717194.dkr.ecr.ap-south-1.amazonaws.com/cognitiveai-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000

        envFrom:
          - configMapRef:
              name: backend-config
          - secretRef:
              name: backend-secrets

        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "768Mi"
            cpu: "500m"

        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 45
          periodSeconds: 15

        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 10
